<footer>
    <div class="container">
        <div class="bottom-particles">
            <div class="social-icons">
                <a href="https://github.com/luis-barbara" target="_blank" class="icon github">
                    <i class="fab fa-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/lu%C3%ADs-b%C3%A1rbara-38580055/" target="_blank"
                    class="icon linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="mailto:luisbarbara@live.com.pt" class="icon email">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
            <p>&copy;2025 Luís Bárbara - todos os direitos reservados</p>
            <p>Este website utiliza cookies para melhorar a experiência do utilizador. <a
                    href="politica-cookies.html">Saiba mais</a>.</p>
            <a href="privacidade.html">Política de Privacidade</a><span class="separator"> | </span><a
                href="cookies.html">Política de Cookies</a>
        </div>
    </div>
</footer>